* {
    box-sizing: border-box;
}

html, body, #root {
    margin: 0 auto;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .9s ease-in-out;
}

canvas {
    padding-top: 50px;
    height: 600px;
}